<!DOCTYPE html>
<html>
	<head>
		<title>first page</title>
	</head>
	<body class="all">
			<div class="center"><%= link_to 'home page', root_path, class: "btn btn-primary btn-lg" %></div>
		  
		
	</body>
</html>