<h1 class="center">Articles</h1>
<div class="mx-auto" style="width: fit-content">
      <%= will_paginate @articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= render 'article', obj: @articles%>
<div class="mx-auto" style="width: fit-content">
      <%= will_paginate @articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>