<h1 class="center">Articles</h1>
<div style="margin-left: 43.3%">
      <%= will_paginate @articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= render 'article', obj: @articles%>
<div style="margin-left: 43.3%">
      <%= will_paginate @articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>