<h1>show action</h1>
<p>
  Title <%=@article.title %>
</p>
<p>
  description <%=@article.description %>
</p>
<%= link_to 'back to articles' , articles_path%> <br/>
<%= link_to 'edit this article' , edit_article_path%>