<h1 align="center">Listing all categories</h1>
<div style="margin-left: 43.3%">
      <%= will_paginate @categories, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<% @categories.each do |category| %>
  <div class ="row" style="margin:10px">
    <div class="col-sm-12">
      <div class="card">
        <div class ="card-header">
          <%= link_to category.name , category_path(category) %>
          <p>Number of articles <%= category.articles.count %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div style="margin-left: 43.3%">
      <%= will_paginate @categories, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>