<h1 class="center"><%= "Category " + @category.name %></h1>
<div style="margin-left: 43.3%">
      <%= will_paginate @category_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= render 'articles/article', obj: @category_articles%>
<div style="margin-left: 43.3%">
      <%= will_paginate @category_articles, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>